@import 'tailwindcss';

/* Custom theme configuration */
@theme {
  --font-mono: 'Courier Prime', monospace;

  --animate-spin-slow: spin 3s linear infinite;
  --animate-reverse-spin: reverse-spin 3s linear infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes reverse-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --modal: #111111;
}

.text-glow {
  text-shadow:
    0 0 0px white,
    0 0 3px white,
    0 0 30px white;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #111;
  background-image: radial-gradient(rgb(169 169 169 / 11%) 1px, transparent 1px);
  background-size: 20px 20px;
}

button {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scroll styles */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
}